@charset "utf-8";
/*banner*/
.banner{width: 1300px;height: 400px;margin: 0 auto;}
/*main*/
.main{width: 1000px;margin: 20px auto;}
.main-tit{border-bottom: 4px solid #008000;}
.main-tit p{font-size: 24px;padding-bottom: 20px;}
/*cjy-main-tit*/
.cjy-main-tit h2{font-size: 14px;position: relative;padding: 15px;}
.cjy-main-tit h2 span{position: absolute;right: 15px;}
.cjy-main-tit h2 span i{color: red;font-weight: bold;}
.cjy-main-tit div{
	width: 1000px;height: 60px;
	line-height: 60px;
	border-bottom:1px solid #daeafe; 
	color:#9a9a9a; background:#f4f4f4;
}
.cjy-main-tit div p {
	float: left;width: 60px;
	line-height: 60px;font-size: 14px;
	text-align: right;
	padding-right: 15px;
}

.cjy-main-tit div a{padding: 0px 21px;font-size: 14px;}
.cjy-main-tit div .on{background: #68a32e;color: #fff;}
.cjy-main-tit div a:hover{background: #68a32e;color: #fff;}
/*cjy-main-ul*/
.cjy-main-ul{width: 1000px;padding-top: 20px;}
.cjy-main-ul img:hover{
	animation-name: mychange;
	animation-duration: 1.5s;
	animation-timing-function: linear;
}
@keyframes mychange{
	0%{transform: rotate(0deg)skew(0deg);}
	15%{transform: scale(0.8);}
	30%{transform: scale(1.1);}
	45%{transform: scale(0.8);}
	60%{transform: scale(1.1);}
	75%{transform: scale(0.8);}	
	90%{transform: scale(1.2);}
}
.cjy-main-ul li{width: 305px;float:left;margin-bottom: 20px;border: 1px solid #ccc;}
.cjy-main-ul .left{margin-left:10px;}
.cjy-main-ul .middle{margin: 0px 30px;}
/*.cjy-main-ul li img:hover{opacity: 0.7;filter:alpha(opacity=70);}*/
.cjy-main-ul li div p{height:40px;padding-top: 4px;margin-bottom: 8px;overflow:hidden;}
.cjy-main-ul li div p a{font-size: 16px;}
.cjy-main-ul li div p a:hover{color: #FF8800;}
.cjy-main-ul li div span{color: #FF8800;font-weight: bolder;font-size: 18px;}
/*page*/
.page{margin: 25px auto;text-align: center;}
.page a{padding: 10px 15px;border: 1px solid #68a32e;}
.page .current{background:#68a32e;color: #fff; }
.page a:hover{background:#68a32e;color: #fff;}
